<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shikhar.androidgames"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name=".mario.core.MarioGame"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi,RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.shikhar.androidgames.mario.preferences.SetPreferencesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />

    </application>


</manifest>